
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffe6f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Container styling */
.signup {
  background-color: #fff0f5;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 105, 180, 0.2);
  max-width: 450px;
  margin: 80px auto;
  padding: 40px;
  text-align: center;
  border: 2px solid #ffc0cb;
}

/* Heading */
h2 {
    text-align: center;
    color:#d63384;
    margin-bottom: 25px;
}

/* Label styling */
label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #333;
}

/* Input styling */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #f8bbd0;
  border-radius: 8px;
  margin-bottom: 15px;
  background: #fff;
  transition: border 0.3s ease-in-out;
  font-size: 14px;
}

/* Button styling */
button {
    width: 100%;
    padding: 12px;
    background-color: #cc3366;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #b32d5a;
}

